<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="cart-body">
            <h1>SignUp</h1>
            <form>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
                    <input type="text" class="form-control" placeholder="Jhon Doe" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
                    <input type="text" class="form-control" placeholder="Your Email" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock"></i></span>
                    <input type="text" class="form-control" placeholder="Password" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class="bi bi-lock-fill"></i></span>
                    <input type="text" class="form-control" placeholder="Confirm Password" aria-label="Username"
                        aria-describedby="basic-addon1">
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <a href="#">No I have an account</a>
            </form>
            <div>
                <img src="signUp.jpg" alt="signIn">
            </div>
        </div>
    </div>
</div>