<div class="container">
    <div class="card shadow p-3 mb-5 bg-white rounded">
        <div class="cart-body">
            <h1>update Task</h1>
            <form [formGroup]="taskForm" (ngSubmit)="onSubmit()">
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Title</label>
                    <input type="text" class="form-control" formControlName="title">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Description</label>
                    <input type="text" class="form-control" formControlName="discription">
                </div>
                <div class="mb-3">
                    <label for="exampleInputEmail1" class="form-label">Due Date</label>
                    <input type="date" class="form-control" formControlName="dueDate">
                </div>
                <div class="mb-3">
                    <label>Select Priyority</label>
                    <select class="form-select" formControlName="priority">
                        <option value="High">High</option>
                        <option value="Medium" selected>Medium</option>
                        <option value="low">low</option>
                      </select>
                </div>
                <button type="submit" class="btn btn-outline-success p-2">update</button>
                <button type="cancel" class="btn btn-outline-secondary m-3 p-2">Cancel</button>
            </form>
        </div>
    </div>
</div>